################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SistemaFacturacion/bin/Debug/netcoreapp3.1
/SistemaFacturacion/obj
/.vs/SistemaFacturacion
